

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

header {
   margin-top: 2em;
   margin-bottom: 4em;
   text-align:center;
}

header h1 {
   font-size : 48px;
}

.navbar-fixed-top .brand {
   padding-right: 0;
   padding-left: 0;
   margin-left: 20px;
   float: right;
   font-size: 18px;
}

section {
   padding-top: 20px;
}


.page-header {
   padding-bottom: 9px;
}